

<style>
  

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 150px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #FCDA05;
    color: white;
    font-weight: 600;
  }

  .logo{
    display: block;
    margin-left:auto;
    margin-right: auto;
  }

</style>

  



<!-- Toolbar -->
<div class="toolbar" role="banner" >
  <img
    height = 100%
    alt="Demo Webstore"
    src= "assets/logoa.PNG"
    class="logo"
    /> 
</div>

  
<!-- ASHTONS CODE BEGINS-->
<div>
<product-data-view></product-data-view>
</div>
  